In [1]:
!wget https://nlp100.github.io/data/popular-names.txt

--2023-03-16 15:48:37--  https://nlp100.github.io/data/popular-names.txt
nlp100.github.io (nlp100.github.io) をDNSに問いあわせています... 185.199.111.153, 185.199.108.153, 185.199.109.153, ...
nlp100.github.io (nlp100.github.io)|185.199.111.153|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 55026 (54K) [text/plain]
`popular-names.txt' に保存中

popular-names.txt   100%[===================>]  53.74K  --.-KB/s 時間 0.004s

2023-03-16 15:48:38 (14.0 MB/s) - `popular-names.txt' へ保存完了 [55026/55026]

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ

In [16]:
count = 0
with open('popular-names.txt', 'r') as f:
    for _ in f:
        count += 1
count

2780

In [14]:
!wc -l popular-names.txt

    2780 popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [50]:
with open('popular-names.txt', 'r') as f:
    for i, l in enumerate(f):
        print(l.replace('\t', ' ').rstrip())
        if i == 9:
            break

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [28]:
!sed s/'\t'/' '/g popular-names.txt | head -10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
sed: stdout: Broken pipe

In [29]:
!cat popular-names.txt | tr '\t' ' ' | head -10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
tr: stdout: Broken pipe

In [40]:
!expand -t 1 popular-names.txt | head -10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
expand: stdout: Broken pipe

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [74]:
with open('popular-names.txt', 'r') as f, open('col1.txt', 'w') as col1, open('col2.txt', 'w') as col2:
    for l in f:
        l = l.rstrip().split('\t')
        print(l[0], file=col1)
        print(l[1], file=col2)

In [75]:
!head col1.txt

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [76]:
!cut -f 1 popular-names.txt | head -10

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [77]:
!head -10 col2.txt

F
F
F
F
F
F
F
F
F
F

In [78]:
!cut -f 2 popular-names.txt | head -10

F
F
F
F
F
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージPermalink
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [81]:
with open('col1.txt', 'r') as col1, open('col2.txt', 'r') as col2, open('merge.txt', 'w') as m:
    for c1, c2 in zip(col1, col2):
        print(f'{c1.rstrip()}\t{c2.rstrip()}', file=m)

In [82]:
!head -10 merge.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [84]:
!paste -d '\t' col1.txt col2.txt | head -10

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [111]:
!python head.py 10 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [112]:
#head.pyの中身
# import sys
# num = int(sys.argv[1])
# file = sys.argv[2]
# with open(file, 'r') as f:
#     for _, l in zip(range(num), f):
#         print(l.rstrip())

In [94]:
!head -10 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [119]:
!python tail.py 10 popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [113]:
!tail -10 popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [47]:
!python py/split.py 11 popular-names.txt

11分割します。各ファイル(リスト)の行数は252か253になります。
253
253
253
253
253
253
253
253
252
252
252
合計は2780

In [ ]:
#分割数を指定して、行単位で区切るオプションがこの環境では無いらしく、渋々行数指定でやることに...
#パイプで繋いで出力先ファイルを指定したのにエラーが一生出るのでもう諦めて手作業でファイルを移動させることに...

In [ ]:
# !man split

In [15]:
!expr 2780 / 11

252

In [50]:
!expr 2780 % 11

8

In [78]:
!split -l 253 popular-names.txt | files/no_16/

zsh:1: permission denied: files/no_16/

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

In [130]:
names = set()
with open('files/col1.txt') as f:
    for n in f:
        names.add(n.rstrip())
print(len(names))
for e in sorted(names)[:10]:
    print(e)

136
Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [80]:
!cut -f 1 popular-names.txt |sort |uniq > files/uniq.txt |wc -l

     136

In [131]:
!head files/uniq.txt

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [98]:
%%timeit
data = [l.rstrip().split() for l in open('popular-names.txt')]
data = sorted(data, key=lambda x: int(x[2]), reverse = True)

1.9 ms ± 104 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [99]:
for d in data[:10]:
    print(d)

['Linda', 'F', '99689', '1947']
['Linda', 'F', '96211', '1948']
['James', 'M', '94757', '1947']
['Michael', 'M', '92704', '1957']
['Robert', 'M', '91640', '1947']
['Linda', 'F', '91016', '1949']
['Michael', 'M', '90656', '1956']
['Michael', 'M', '90517', '1958']
['James', 'M', '88584', '1948']
['Michael', 'M', '88528', '1954']

In [100]:
%%timeit
#鬼非効率な気がするが、別解
result = []
count = 0

with open('popular-names.txt') as f:
    for l in f:
        l = l.rstrip().split()
        if count == 0:
            result.append(l)
            count += 1
        else:
            for i, r in enumerate(result):
                if int(l[2]) > int(r[2]):
                    result.insert(i, l)
                    break
                elif i == len(result) and int(l[2]) <= int(r[2]):
                    result.append(l)

488 ms ± 10 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [101]:
for rr in result[:10]:
    print(rr)

['Linda', 'F', '99689', '1947']
['Linda', 'F', '96211', '1948']
['James', 'M', '94757', '1947']
['Michael', 'M', '92704', '1957']
['Robert', 'M', '91640', '1947']
['Linda', 'F', '91016', '1949']
['Michael', 'M', '90656', '1956']
['Michael', 'M', '90517', '1958']
['James', 'M', '88584', '1948']
['Michael', 'M', '88528', '1954']

In [112]:
!sort -r -n -k 3 popular-names.txt |head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [123]:
result = {}
with open('popular-names.txt') as f:
    for l in f:
        l = l.rstrip().split()
        if l[0] not in result:
            result[l[0]] = 1
        else:
            result[l[0]] += 1
result = sorted(result.items(), key=lambda v: v[1], reverse = True)

In [124]:
for i, r in enumerate(result):
    if i == 10:
        break
    else:
        print(r)

('James', 118)
('William', 111)
('John', 108)
('Robert', 108)
('Mary', 92)
('Charles', 75)
('Michael', 74)
('Elizabeth', 73)
('Joseph', 70)
('Margaret', 60)

In [128]:
!cut -f 1 popular-names.txt|sort |uniq -c |sort -r |head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret

In [6]:
signals = ['.', ',', ':', ';', '!', '?', '(', ')', '[', ']', "'", '"', '/']
a = "'Hercules'?"

b = "Manager's"
b.rstrip(''.join(signals))

"Manager's"